@charset "utf-8";
/* 인트로사이트 메인 CSS - main.css */

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-image: url(../../001.HTML학습/02.info_PJ/images/index_FrontEnd.jpg);
    /* 아카이브 페이지에 이미지 넣고싶은데 문제 없어보이는데 반응을 안해 */

    /* background-image: 
    linear-gradient(to bottom, rgb(205, 255, 227), rgb(247, 206, 255)); */

    /*
    [선형 그라데이션] 
    background-image:
    liner-gradient(방향, 색1, 색2, 색3, ...)
    - 방향:
    to top, to left, to right, to bottom
    */
}
.wrap{
    border: 2px dashed darkblue;
    border-radius: 20px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}